<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./admin.css" />
    <title>Admin Portal</title>
</head>
<body>
    <h1>MegaSeal Admin Portal</h1>
    <p id ="tr"></p>

    <p>Select From The Following Options : </p>
    <form action="fetchAcctype" method="post">

        <select id="type" name="type">
            <option value="none" selected disabled hidden>Select From the Following</option>
            <option value="1">1. Mobile Number</option>
            <option value="2">2. UPI</option>
            <option value="3">3. IFSC Code</option>
        </select>
        <br>
        <input type="submit" value="Submit" id="signup">
    </form>

</body>

</html>